body{
    background-image:url("../img/change_password_bg-01-01.jpg") !important;
    background-size: cover;
    font-size: 14px;
}

.change-password-warp{
    padding: 30px 50px;
}
.change-password-warp .head h1{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: darkgrey;
    margin-bottom: 20px;
}
.formWraper{
    margin: 0 auto;
    width: 70%;
}

.formWraper .form-control{
    font-size: 14px;
    padding: 10px 5px;
    transition-duration: 0.3s;
}
.formWraper .form-control:active,
.formWraper .form-control:focus{
    border: none;
    border: 2px solid darkorange;
    box-shadow: none;
}   
.login{
    padding: 8px 0;
}